.displayNone{
  display: none;
}
.commentButtons{
  display: inline-block;
  cursor: pointer;
}
.inlineClass{
  display: inline-block;
}
.userName{
    display: inline-block;
    color: #4286e9;
    margin-right: 5px;
}
.timeStamp{
    display: inline-block;
    color: #999;
    font-size: 14px;
}
ul{
  list-style: none;
}

.replyShareButton{
      color: #999;
      font-size: 14px;
}
.ulClassMarginClass{
  margin-top: 10px;
}
.midDot:before{
      content: '\00B7';
      padding-right: 5px;
      padding-left: 5px;
}
.downCarrot {
    position: relative;
    top: 5px;
    margin-right: 10px;
    margin-left: 5px;
    cursor:pointer;
    -webkit-user-select: none;
}
.downCarrot:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 5px solid #999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.downCarrot:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  border-top: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.upCarrot {
    position: relative;
    top: 5px;
    margin-right: 15px;
    margin-left: 5px;
    cursor:pointer;
    -webkit-user-select: none;
}

.upCarrot:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 5px solid #999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.upCarrot:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  border-bottom: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.separator{
      margin-right: 5px;
}
.imageSection{
    height: 50px;
    width: 50px;
    float: left;
    background-color: grey;
    margin-right: 10px;

}

.mainCommentEditor{
  width: 20%;
  height: 43px;
  padding-left: 10px;
}
.commentBox{
  margin-left: 50px;
}